<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title align="center" style="color: rgba(233, 225, 225, 0.8);">REGISTRARSE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login">
	<img class="logo" src="assets/images/logo-icon.png">
	<form [formGroup]="myForm" (ngSubmit)="registrar()">
		<ion-row>
	        <ion-col size="12">
	        	<div class="divItem">
	        		<ion-item>
		        		<ion-label color="light">Nombre:</ion-label>
		            	<ion-input class="form-control" id="nombre" type="text" formControlName="nombre"></ion-input>  
		            </ion-item>
	        	</div>            
	        </ion-col>
	    </ion-row>
      <ion-row>
            <ion-col size="12">
              <div class="divItem">
                <ion-item>
                  <ion-label color="light">Telefono:</ion-label>
                    <ion-input class="form-control" id="telefono" type="tel" formControlName="telefono"></ion-input>  
                  </ion-item>
              </div>            
            </ion-col>
        </ion-row>
        <ion-row>
              <ion-col size="12">
                <div class="divItem">
                  <ion-item>
                    <ion-label color="light">Correo:</ion-label>
                      <ion-input class="form-control" id="email" type="text" formControlName="email"></ion-input>  
                    </ion-item>
                </div>            
              </ion-col>
          </ion-row>
	    <!--password-->
	    <ion-row>
        <ion-col size="12">
            <ion-item>
                <ion-label color="light">Contraseña:</ion-label>
                <ion-input id="pass1" type="password" formControlName="pass1"
                    ></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <ion-item>
                <ion-label color="light">Repetir Contraseña:</ion-label>
                <ion-input id="pass2" type="password" formControlName="pass2"
                    ></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>

	    <!--ion-button-->
	    <ion-row >
	        <ion-col size="12">
	            <ion-button class="login-btn" type="submit" [disabled]="!myForm.valid">Registrarme</ion-button>
	        </ion-col>
	    </ion-row>
	</form>
	
	<ion-row style="bottom: 0px;">
		<ion-col size="12" align="center">
			<a style="color: white;" (click)="Inicia()">¿Ya tienes una cuenta? Inicia Sesión!</a>
		</ion-col>
	</ion-row>
	

</ion-content>
